{% include "header.html" %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '5652289944880645',
      cookie     : true,
      xfbml      : true,
      version    : 'v16.0'
    });

    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function statusChangeCallback(response){
      if(response.status === 'connected')
                  {
                     console.log(response);
                     setElements(true);
                  }
              else
                  {
                    console.log('not logged in');
                  }
 }

  function checkLoginState() {
      FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      });
  }
    function setElements(isLoggedIn){
        if(isLoggedIn){
          document.getElementById('logout').style.display = 'block';
          document.getElementById('profile').style.display = 'block';
          document.getElementById('feed').style.display = 'block';
          document.getElementById('fb-btn').style.display = 'none';
          document.getElementById('heading').style.display = 'none';
        } else {
          document.getElementById('logout').style.display = 'none';
          document.getElementById('profile').style.display = 'none';
          document.getElementById('feed').style.display = 'none';
          document.getElementById('fb-btn').style.display = 'block';
          document.getElementById('heading').style.display = 'block';
        }

        function logout(){
        FB.logout(function(response){
          setElements(false);
        });
      }
}
</script>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Integrations</h1>
            <span id="heading" class="subheading">Log in to view your profile</span>
          </div>
        </div>
      </div>
    </div>
  </header>


<!-- The JS SDK Login Button -->
<!--<div class="fb-login-button" data-width="40" data-size="" data-button-type=""-->
<!--     data-layout="" data-auto-logout-link="true" data-use-continue-as="false" onlogin=""></div>-->

<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0&appId=5652289944880645&autoLogAppEvents=1" nonce="daf7y2Jc"></script>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <fb:login-button
              id="fb-btn"
              scope="public_profile,email,user_birthday,user_location,user_posts"
              onlogin="checkLoginState();">
        </fb:login-button>
<!--        <div id="fb-btn"-->
<!--             class="fb-login-button post-preview" data-width="40" data-size="" data-button-type="">-->
<!--        </div>-->
        <div id="logout" onclick="logout()">Logout</div>
      </div>
    </div>
</div>
        <hr>

{% include "footer.html" %}