<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '5652289944880645',
      cookie     : true,
      xfbml      : true,
      version    : 'v16'
    });

    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    };)
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function statusChangeCallback(response){
        if(response.status === 'connected')
					{
            console.log('Logged in and authenticated');
	        }
				else
					{
            console.log('not logged in');
	        }
   }

function checkLoginState() {
    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
    });
}
</script>


<!-- The JS SDK Login Button -->
<div class="fb-login-button" data-width="40" data-size="" data-button-type=""
     data-layout="" data-auto-logout-link="true" data-use-continue-as="false" onlogin="checkLoginState();"></div>
</body>
</html>