{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-color: #19A7CE">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ post_details['name'] }}</h1>
            <span class="subheading">A snapshot of your Facebook Page</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for message in messages %}
                        <p>{{ message  }}</p>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
      </div>
      <div class="col-lg-8 col-md-10 mx-auto content">
        {% for post in post_details['data'] %}
          <div class="post-preview">
            <h2 class="post-title">
              {{ page.Name }}
            </h2>
            <p class="post-meta">
              # of Impressions Yesterday - {{ page.Insights['Page Impressions Yesterday'] }} <br>
              # of Impressions Last week - {{ page.Insights['Page Impressions Last Week'] }} <br>
              # of Impressions Last 28 days - {{ page.Insights['Page Impressions Last 28 Days'] }}</p>
            <hr>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% include "footer.html" %}